// Taken from https://coolors.co/82ff9e-a9fbc3-b594b6-935fa7-9b489b

$colorGreen: #82ff9e;
$colorLightGreen: #a9fbc3;
$colorPink: #b594b6;
$colorPurple: #935fa7;
$colorPurpleMain: #9b489b;

$brightSand: #2A2A2A;
$darkSand: #828e82;
$sliderDark: #585141;

// color1: #2A2A2A
// color2: #828e82
// color3: #aaae8e
// color4: #e0e0e0
// color5: #e3170a
